<div class="right-sidebar">
    <div class="box0 sidepanel">
      <div class="profile mb-4">
        <div class="">
          <img src="assets/images/temp_img/Ellipse 1.png" class="round-img">
        </div>
        <div class="text mx-3">
          <h3 class="font-17 font-600 light user-name">{{service.student.fullName}}</h3>
          <p class="font-14 font-400  light mb-0">{{service.student.role}}</p>
       </div>
      
      </div>

      <div><a class="btn btn-info btn-lg" (click)="logout()">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a></div>

      

      <div class="ccard position-relative mb-5">
        <div class="d-flex">
          <div class="left-content">
            <button type="button"
              class="btn-2 text-white font-12 font-400 d-flex flex-column align-items-center justify-content-center" (click)="checkIn()" *ngIf="totalHrs==undefined">
              <img src="assets/images/svg_img/check-in.svg" class="mb-2 img-fluid">
              CHECK IN
            </button>

            <button type="button"
            class="btn-2 text-white font-12 font-400 d-flex flex-column align-items-center justify-content-center checkOutButton" (click)="checkOut()" *ngIf="totalHrs!=undefined">
            <img src="assets/images/svg_img/check-in.svg" class="mb-2 img-fluid">
            CHECK OUT
          </button>


            <div class="time text-center">
              <h6 class="font-21 font-600 light">{{currentTime}}</h6>
              <h6 class="font-21 font-600 light">{{dayMonthDate}}</h6>
            </div>
          </div>

          <div class="right-content">
            <div class="checkin d-flex align-items-center mb-4">
              <span class="img">
                <img src="assets/images/svg_img/Vector.svg">
              </span>
              <h3 class="font-15 font-400 light mb-0"></h3>
            </div>
            <div class="checkin d-flex align-items-center mb-4">
              <span class="img">
                <img src="assets/images/svg_img/Frame 156.svg">
              </span>
              <h3 class="font-15 font-400 light mb-0"></h3>
            </div>
            <div class="checkin d-flex align-items-center">
              <span class="img">
                <img src="assets/images/svg_img/watch.svg">
              </span>
              <h3 class="font-15 font-400 light mb-0" *ngIf="totalHrs!=undefined">{{totalHrs}}</h3>
            </div>
          </div>

        </div>
      </div>

      <div class="text1">
        <h4 class="font-17 font-600 light">Updates</h4>
        <h4 class="font-17 font-600 light">Clear All</h4>
      </div>
      <div class="nortification mb-3 position-relative">
        <div class="nortifications-h">
          <h6 class="font-17 font-400 secondary notification_title">Notification Heading</h6>
          <h6 class="font-14 font-400 secondary mb-0">Notification Message</h6>
        </div>
        <h5 class="font-11 font-400 secondary">2 Hours ago</h5>
      </div>
      <div class="nortification mb-3 position-relative">
        <div class="nortifications-h">
          <h6 class="font-17 font-400 secondary notification_title">Notification Heading</h6>
          <h6 class="font-14 font-400 secondary mb-0">Notification Message</h6>
        </div>
        <h5 class="font-11 font-400 secondary">2 Hours ago</h5>
      </div>
      <div class="nortification mb-3 position-relative">
        <div class="nortifications-h">
          <h6 class="font-17 font-400 secondary notification_title">Notification Heading</h6>
          <h6 class="font-14 font-400 secondary mb-0">Notification Message</h6>
        </div>
        <h5 class="font-11 font-400 secondary">2 Hours ago</h5>
      </div>
    </div>
  </div>