.checkOutButton{
    background: linear-gradient(209.24deg, #000000 -5.81%, #f5220d 98.82%);
}

.ccard{padding: 12px;
background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(9px);
border-radius: 12px;
position: relative;
}