<div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    <div class="side-navbar">
      <a href=""><img src="assets/images/temp_img/Logo.png"></a>
      <a href="index.html" class="active"><img src="assets/images/svg_img/New folder/Neutral-Dashboard.svg"
          class="material-icons" id="icon1"><span class="icon-text dashboard">Dashboard</span></a>
      <a href="mycourse.html" class="box-hover"><img src="assets/images/svg_img/New folder/Neutral-Courses.svg"
          class="material-icons" id="icon2"><span class="icon-text">My Courses</span></a>
      <a href="Task&assignments.html" class="box-hover"><img
          src="assets/images/svg_img/New folder/Neutral-Assignment.svg" class="material-icons" id="icon3"><span
          class="icon-text">Tasks And Assignments</span></a>
      <a href="#" class="box-hover"><img src="assets/images/svg_img/New folder/Neutral-Statistics.svg"
          class="material-icons" id="icon4"><span class="icon-text">Results & Statistics</span></a>
      <a href="attendance.html" class="box-hover"><img src="assets/images/svg_img/New folder/Neutral-Calender.svg"
          class="material-icons" id="icon5"><span class="icon-text">Attendance</span></a>
      <a href="jobalert.html" class="box-hover"><img src="assets/images/svg_img/New folder/Neutral-Jobs.svg"
          class="material-icons" id="icon6"><span class="icon-text">Job Alert</span></a>
      <a href="news&event.html" class="box-hover"><img src="assets/images/svg_img/New folder/Neutral-News.svg"
          class="material-icons" id="icon7"><span class="icon-text">News & Events</span></a>
    </div>

    <div class="side-navbar">
      <a href="#" class="box-hover"><img src="assets/images/svg_img/New folder/Neutral-User.svg"
          class="material-icons" id="icon8"><span class="icon-text">Account</span></a>
      <a href="#" class="box-hover"><img src="assets/images/svg_img/New folder/Neutral-Settings.svg"
          class="material-icons" id="icon9"><span class="icon-text">Settings</span></a>
    </div>
  </div>